<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Survey</title>
</head>
<body>
<h1>View Survey: <span th:text="${survey.id} + ${survey.surveyName}"></span></h1>

<table>
    <thead>
    <tr>
        <th>Question</th>
        <th>Type</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question: ${questions}">
        <td>
            <p th:text="${question.questionText}"></p>
        </td>
        <td>
            <p th:text="${question.QType}"></p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>