<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Fill Survey</title>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<h1>Fill Survey: <span th:text="${survey.name}"></span></h1>

<form th:action="@{/submit-survey}" th:object="${surveyResponse}" method="post">
	<table>
		<tr th:each="question : ${survey.questions}">
			<td th:text="${question.text}"></td>
			<td>
          <span th:if="${question.type == 'TQ	'}">
            <textarea th:field="*{answers[__${question.id}__]}" rows="4" cols="50"></textarea>
          </span>

				<span th:if="${question.type == 'RQ'}">
            <input type="range" th:field="*{answers[__${question.id}__]}" th:min="${question.min}" th:max="${question.max}" step="1">
            <p>
              <span th:text="'Min: ' + ${question.min}"></span>
              <span th:text="'Max: ' + ${question.max}"></span>
            </p>
        </span>

				<span th:if="${question.type == 'MCQ'}">
            <select th:field="*{answers[__${question.id}__]}">
              <option th:each="option : ${question.options}" th:text="${option}"></option>
            </select>
        </span>
			</td>
		</tr>
	</table>

	<button type="submit">Submit Survey</button>
</form>
</body>
</html>

