<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Survey</title>
</head>
<body>
<h1 th:text="${survey.surveyName}"></h1>

<form method="post"  th:action="@{/savesurvey}" th:object="${survey}">
    <h2>Questions:</h2>
    <table>
        <thead>
        <tr>
            <th>Question Text</th>
            <th>Question Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="questions: ${survey.questions}">
            <td>
                <p type="text"  th:text="${questions.questionText}" />
            </td>
            <td>
                <p  type="text" th:text="${questions.QType}" />
            </td>
            <td>
                <a th:href="@{'/surveys/' + ${survey.id} +'/delete/'+ ${questions.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <button type="submit">Save Survey</button>
</form>

<form action="" method="post" th:object="${NewQuestion}" th:action="@{'/surveys/' + ${survey.id}}">
    <h2>Add a Question:</h2>
    <p>Question Text: <input type="text" th:field="*{questionText}"/></p>
    <br /><br />

    <label for="type">Question Type:</label>
    <select id="type" name="type" th:field="*{QType}">
        <option value="TQ">Open-Ended</option>
        <option value="RQ">Range</option>
        <option value="MCQ">Choice</option>
    </select>
    <br /><br />

<!-- causing an unexpected error -->
    <!-- <div th:if="${#fields.hasErrors('question') || #fields.hasErrors('QType')}">
         <p>Please correct the errors below:</p>
         <ul>
             <li th:if="${#fields.hasErrors('question')}" th:errors="*{question}">Text is required</li>
             <li th:if="${#fields.hasErrors('QType')}" th:errors="*{QType}">Type is required</li>
         </ul>
     </div>-->

    <button type="submit">Add Question</button>
</form>
</body>
</html>