<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Survey</title>
</head>
<body>
<h1>View Survey: <span th:text="${survey.surveyName}"></span></h1>

<table>
    <tr>
        <th>Question</th>
        <th>Type</th>
        <th>Options</th>
    </tr>

    <tr th:each="questions : ${survey.questions}">
        <td th:text="${questions.text}"></td>
        <td th:text="${questions.type}"></td>
        <td>
				<span th:if="${questions.Qtype == 'MCQ'}">
					<select>
						<option th:each="option : ${questions.options}" th:text="${option}"></option>
					</select>
				</span>

            <span th:if="${questions.Qtype == 'RQ'}">
					<span th:text="'Min: ' + ${questions.min}"></span>
					<span th:text="'Max: ' + ${questions.max}"></span>
				</span>
        </td>
    </tr>
</table>
</body>
</html>