<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Survey</title>
</head>
<body>
<h1>View Survey: <span th:text="${survey.name}"></span></h1>

<table>
    <tr>
        <th>Question</th>
        <th>Type</th>
        <th>Options</th>
    </tr>

    <tr th:each="question : ${survey.questions}">
        <td th:text="${question.text}"></td>
        <td th:text="${question.type}"></td>
        <td>
				<span th:if="${question.type == 'CHOICE'}">
					<select>
						<option th:each="option : ${question.options}" th:text="${option}"></option>
					</select>
				</span>

            <span th:if="${question.type == 'RANGE'}">
					<span th:text="'Min: ' + ${question.min}"></span>
					<span th:text="'Max: ' + ${question.max}"></span>
				</span>
        </td>
    </tr>
</table>
</body>
</html>