<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Survey</title>
</head>
<body>
<h1>View Survey: <span th:text="${survey.surveyName}"></span></h1>

<table>
    <tr>
        <th>Question</th>
        <th>Type</th>
        <th>Options</th>
    </tr>

    <tr th:each="question : ${survey.questions}">
        <td th:text="${question.text}"></td>
        <td th:text="${question.type}"></td>
        <td>
				<span th:if="${question.choices.size() != 0}">
					<select>
						<option th:each="option : ${question.choices}" th:text="${option}"></option>
					</select>
				</span>

            <span th:if="${question.rangeMin != null}">
					<span th:text="'Min: ' + ${question.rangeMin}"></span>
					<span th:text="'Max: ' + ${question.rangeMax}"></span>
				</span>
        </td>
    </tr>
</table>
<a  th:href="@{'/surveys/fill/' + ${survey.id}}"> Fill Survey </a>
</body>
</html>